body {
    margin: 0;
    padding: 0;
}

.carousel-item img {
    width: 100%;
    height: 400PX;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer h3 {
    font-size: 24px;
}

footer p {
    font-size: 16px;
    margin-bottom: 20px;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

footer ul li a:hover {
    color: #6c757d;
}